#ingredient-form-col {
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 70px;
}

#ingredient-form-col h5 {
  margin-bottom: 25px;
  text-align: left;
}

#ingredient-table-col {
  padding-top : 45px;
}


.info-wrapper {
  border-top: 1px solid grey;
  padding-top: 30px;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 5px;
}
