

#ingredient-table-col {
  width: auto;
  border: 1px solid lightgrey;


}

#ingredient-form-col {
  width: auto;
  text-align: left;
  border: 1px solid lightgrey;

}

.space-between {
  display: flex;
  justify-content: space-around;
}

.info-wrapper {

  padding-top: 25px;
  border-top: 1px solid grey;

  margin-bottom: 30px;
}

h1 {
  margin-bottom: 5px;
}

.thin-text-link {
  text-decoration: none;
  color: lightblue;
  text-weight: lighter;
}

#btn-add-dose {
  margin-bottom: 20px;
}
