<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <%= image_tag "cocktail-icon.ico"%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>



    <!-- Button (call-to-action) -->

    <a href="/ingredients/new" id="green_button" class="navbar-wagon-item navbar-wagon-green-button btn">New Ingredient</a>
    <a href="/cocktails/new" class="navbar-wagon-item navbar-wagon-red-button btn">New Cocktail</a>

  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
